/*7.- Definir un estilo que permita diseñar una página en la que tenemos un título y un párrafo.
En concreto, presentar el texto en color rojo para el título, y naranja para el párrafo.
Además, el párrafo tiene el texto justificado y un interlineado grueso. También, le daremos al
título un tipo de letra arial y le cambiaremos el tamaño.
*/

h1{
    color: tomato;
    font-family: arial;
    font-size: 40px;
}

p{
    color: orange;
    text-align: justify;
    line-height: 3.5ch;
    
}